
@{
    ViewData["Title"] = "Index";
}

@using(Html.BeginForm())
{
    
    <p>
        <label>Enter your name</label>
        @Html.TextBox("username")
    </p>
    <p>
        <label>Select Gender</label>
        @Html.RadioButton("gender","male")Male
        @Html.RadioButton("gender","female")Female
    </p>
    <p>
        <label>Select Hobbies</label>
        <input type="checkbox" name="hobbies" value="sports"/>Sports
        <input type="checkbox" name="hobbies" value="music"/>Music
    </p>
    <p>
        <label>Select City</label>
        @Html.DropDownList("cities")
    </p>
    <p>
        <label>Select City</label>
        @Html.ListBox("list")
    </p>
    <p>
        <label>Your Comments</label>
        @Html.TextArea("comments")
    </p>
    <p>
        <input type="submit" value="Save"/>
    </p>

}
