@model IEnumerable<Crud_Using_ADO.Net.Models.Movies>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Add Movies</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Mid }) |
                @Html.ActionLink("Details", "Details", new { id=item.Mid }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Mid })
            </td>
        </tr>
}
    </tbody>
</table>
